<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Result</title>
</head>
<body>
    <h1>Carbon Footprint Result</h1>
    <ul>
        <li>Fan: {{ total_carbon_footprint.fan }} kg CO2</li>
        <li>Light Bulb: {{ total_carbon_footprint.light_bulb }} kg CO2</li>
        <li>Refrigerator: {{ total_carbon_footprint.refrigerator }} kg CO2</li>
        <li>TV: {{ total_carbon_footprint.tv }} kg CO2</li>
    </ul>
</body>
</html>
